.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: url("https://www.rehau.com/resource/image/288844/7x5/1200/857/e902039d13af58b703c6cd29fe3edaf6/83256EFAEAA623EE571717EFB64BB773/airport-82603.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 392px;

  &__title {
    font-size: 70px;
    color: #fff;
    font-weight: 300;
  }

  &__form {
    width: 100%;
    max-width: 740px;
    margin: 0;
    padding: 0 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  &__input {
    height: 80px;
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 26px;
  }

  &__button {
    width: 25%;
    padding: 10px 20px;
    background-color: #1eb7ee;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
    border-top-right-radius: 90px;
    height: 80px;
    font-size: 26px;
  }

  &__view-flights {
    display: flex;
    height: 60px;
    margin: 10px 0;
    max-width: 740px;
    width: 100%;
    padding: 0 20px;
  
    &--icon {
      height: 22px;
      width: 42px;
    }
  
    &--departures {
      margin-right: 20px;
      border-top-right-radius: 50px;
      border-top-left-radius: 10px;
      text-align: left;
    }
  
    &--arrivals {
      border-top-left-radius: 50px;
      border-top-right-radius: 10px;
      text-align: right;
    }
  
    &--departures,
    &--arrivals {
      flex: 1;
      max-width: 50%;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border: none;
      color: #1eb7ee;
      font-size: 20px;
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
      height: 140px;
  
      &--departures,
      &--arrivals {
        width: 100%;
        max-width: unset;
        margin-right: 0;
        margin-bottom: 10px;
      
      }
    }
  }
  
}
